form {
    top: 229px;
    left: 660px;
    width: 600px;
    height: 250px;
    border: solid 1px #707070;
    margin: 5% 0 0 30%;
}

input {
    display: block;
    margin: 22px 0 0 100px;
    padding-right: 150px;
}

button {
    margin: 22px 0 0 100px;

}

button:hover {
    background-color: #347DFD;
    border-color: #347DFD;
    color: white;
    font-weight: bold;
}