.postDiv {
    width: inherit;
    height: inherit;
}

header {
    width: inherit;
    height: 10vh;
    color: #006238;
    border-bottom: solid 2px;
}

.nameLogo {
    top: 25px;
    left: 200px;
    width: 54px;
    height: 54px;
    padding: 10px 10px 10px 100px;
}

span {
    position: absolute;
    font: normal normal normal 48px/42px Palatino;
    letter-spacing: 0px;
    color: #006238;
    display: inline;
    margin: 15px 0 0 0;
}

.camera {
    float: right;
    top: 40px;
    left: 1672px;
    width: 48px;
    height: 48px;
    padding: 10px 80px 10px 0;
}


.contentDiv {
    border: 1px solid #707070;
    border-radius: 10px;
    margin: 5% 30%;
    width: 560px;
    height: 490px;
    text-align: left;

}

.userName {
    display: inline-block;
    padding: 0 0 5px 20px;
    margin-bottom: 0;
}

.moreIcon {
    float: right;
    width: 20px;
    height: 20px;
    padding: 20px 15px 5px 0;
}

.userLoc {
    color: #707070;
    margin: 0;
    padding: 0 0 5px 20px;
}

.postImage {
    width: 560px;
    height: 300px;
}

.heart-share {
    width: 28px;
    height: 28px;
    margin: 5px 0 5px 25px;
    display: inline-block;
}

.postDate {
    float: right;
    margin: 5px 25px 5px 0;
    font-weight: 500;
    height: 24px;
}

.postLikes {
    margin: 5px 0 5px 25px;
}

.postDes {
    margin: 5px 0 5px 25px;
    font: normal normal bold 16px/34px Helvetica;
    letter-spacing: 0px;
    color: #000000;
}